@import "src/assets/scss/variables.scss";

.circle {
  z-index: 99;
  background-color: $focusColor;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  opacity: 0.3;
}

.sm {
  width: 30px;
  height: 30px;
}

.md {
  width: 60px;
  height: 60px;
}

.lg {
  width: 90px;
  height: 90px;
}