@import "assets/scss/variables";
.parent {
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    width: 100vw;
    height: 100vh;
    overflow: auto;
    //background-color: $bgPrimaryColor;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $textColor;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $bgPrimaryColor;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $bgSecondaryColor;
    }
}